= simple_form_for @student, html: { class: 'form-horizontal' } do |f|
  - if @student.errors.any?
    #errors
      %p
        = @student.errors.count
        Prevented this recipe from Saving
      %ul
        - @student.erors.full_messages.each do |msg|
          %li= msg
  .panel-body
    = f.input :st_id, label: "Sudent ID", input_html: {class: 'form-control'}
    = f.input :name, input_html: {class: 'form-control'}
    = f.input :gender, input_html: {class: 'form-control'}
    = f.input :program, input_html: {class: 'form-control'}
    = f.input :support, input_html: {class: 'form-control'}
    = f.input :school, input_html: {class: 'form-control'}
    = f.input :grade, input_html: {class: 'form-control'}
    = f.input :dob, label: "Date Of Birth", input_html: {class: 'form-control'}
    = f.input :doj, label: "Date Of Joining", input_html: {class: 'form-control'}
  = f.button :submit, class: "btn btn-primary"
