%p#notice= notice
%h1 Students
%table.table.table-condensed.table-striped.table-bordered
  %thead
    %tr
      %th St
      %th Name
      %th Gender
      %th Program
      %th Support
      %th School
      %th Class
      %th Dob
      %th Doj
  %tbody
    - @students.each do |student|
      %tr
        %td= link_to student.st_id, student
        %td= student.name
        %td= student.gender
        %td= student.program
        %td= student.support
        %td= student.school
        -@class = grade(student.grade)
        %td= @class
        %td= student.dob
        %td= student.doj
%br/
= link_to 'New Student', new_student_path
