%p#notice= notice
%h1 Students
%table
  %thead
    %tr
      %th St
      %th Name
      %th Gender
      %th Program
      %th Support
      %th School
      %th Dob
      %th Doj
      %th{:colspan => "3"}
  %tbody
    - @students.each do |student|
      %tr
        %td= student.st_id
        %td= student.name
        %td= student.gender
        %td= student.program
        %td= student.support
        %td= student.school
        %td= student.dob
        %td= student.doj
        %td= link_to 'Show', student
        %td= link_to 'Edit', edit_student_path(student)
        %td= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Student', new_student_path
