%p#notice= notice
%h1#print1
  %input{:name => "header", :type => "text"}/

#print2
  %br
  = form_tag students_path, :method => :get, :class => 'form-search' do
    .input
      = select_tag(:support, options_for_select(@supports), :prompt => "Select Program", :include_blank => true, input_html: {class: 'form-control'})
      - @var = :support
      = submit_tag "Search"
%br
#print3
  #grpChkBox
    %p
      %input{:name => "id", :type => "checkbox"}/
      ID
    %p
      %input{:name => "name", :type => "checkbox"}/
      Name
    %p
      %input{:name => "gender", :type => "checkbox"}/
      Gender
    %p
      %input{:name => "program", :type => "checkbox"}/
      Program
    %p
      %input{:name => "support", :type => "checkbox"}/
      Support
    %p
      %input{:name => "school", :type => "checkbox"}/
      School
    %p
      %input{:name => "class", :type => "checkbox"}/
      Class
    %p
      %input{:name => "dob", :type => "checkbox"}/
      DoB
    %p
      %input{:name => "doj", :type => "checkbox"}/
      DoJ
    %p
      %input{:name => "attendance", :type => "checkbox"}/
      Attendance
%br
%table.table.table-striped.table-bordered#someTable
  %thead
    %tr
      %th.sno SNo.
      %th.id ID
      %th.name Name
      %th.gender Gender
      %th.program Program
      %th.support Support
      %th.school School
      %th.class Class
      %th.dob DoB
      %th.doj DoJ
      - for i in 1..31
        %th.attendance= "#{i}"
  %tbody
    - j=1
    - @students.each do |student|
      %tr
        %td.sno= j
        %td.id= link_to student.st_id, student
        %td.name= student.name
        %td.gender= student.gender
        %td.program= student.program
        %td.support= student.support
        %td.school= student.school
        -@class = grade(student.grade)
        %td.class= @class
        %td.dob= student.dob
        %td.doj= student.doj
        - for i in 1..31
          %td.attendance= " "
        -j = j+1
#print4
  = link_to 'Add Student', new_student_path, class: "btn btn-default"
%button.btn.btn-default{:onclick => "myFunction()"}
  %small Print
#print5
  %p
    Download:
    = link_to "Excel", students_path(format: "xls"), :support => :support
#print6
  %p
    Import Data:
    = form_tag import_students_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import"
